.data{
    background-color: #000000d4;
    opacity: 5rem;
    color: white;
    border-radius: 2.5rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.3rem;
    padding-bottom: 3rem;
    width: 20rem;
    height: auto;
    opacity: 30;
    font-family: 'Oswald', sans-serif;
    

}
.pop{
    margin-top: 10rem;
}
.top{
    color: white;
}
.but{
    border-radius: .5rem;
    background: white;
    opacity: 0.5;
    color: black;
    font-size: medium;
    font-weight: bolder;
    border-style:hidden;
    width: 10rem;
    height: 2rem;

}
.sub{
    background: white;
    opacity: 0.5;
    border: none;
    margin-left: 0.2rem;
    border-radius: 20rem;
    height: 2rem;
    width: 3rem;

}
.ques{
    margin-top: 1rem;
    font-size: 4rem;
}
.hi{
    font-family: 'Macondo', cursive;
}
.resp{
    width:2rem;
    position: absolute;
    margin-left: 3rem;
}
.pdata{
    background-color: #000000d4;
    opacity: 5rem;
    color: white;
    border-radius: 2.5rem;
    height: auto;
    font-size: small;
    width: 9rem;
    position: relative;
    padding-left: 4rem;
    padding-top: 1.3rem;
    padding-bottom: 3rem;
    align-items: center;
    display: inline-flex;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-bottom: 1rem;


}
.pimg{
    width:2rem;
}
